/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  overflow-x: hidden !important;
  font-family: "Inter", sans-serif;
}

#root {
  overflow-x: hidden !important;
}

#Calend__timetable {
  width: 100% !important;
  padding-left: 35px !important;
}

.Calend__ButtonIcon__container:nth-last-child(2) {
  display: none !important;
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.2);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
