/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  overflow-x: hidden !important;
  font-family: "Inter", sans-serif;
}

#root {
  overflow-x: hidden !important;
}

#Kalend__timetable {
  width: 100% !important;
  padding-left: 35px !important;
}

.react-datepicker__year-wrapper {
  max-width: 205px !important;
}

.react-datepicker__year-text--selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: rgb(244, 114, 182) !important;
}

@media (max-width: 450px) {
  .Kalend__CalendarDesktopNavigation__buttons
    .Kalend__ButtonIcon__container:nth-last-child(2) {
    display: none !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(209, 209, 209);
}

.react-datepicker-wrapper {
  width: 130px !important;
}

select {
  -webkit-appearance: none;
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.2);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
